body {
background-color: #FDF0D1;
color: black;
font-family: helvetica;
font-size:19px;
}

h1, h2, h3 {
	font-family: Roboto;
}


h1 {
	color: #85586F;
	font-family: helvetica;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: ;
	font-weight: bold;

}
h2 {
	color: #85586F;
	font-family: helvetica;
	font-size: 24px;
	font-weight: bold;
}
a{
	text-decoration: none;
	color : #AC7D88;
}
a:hover {
	color: pink;
}